<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= form_for resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-signin mt-3" } do |f| %>
        <h1 class="h3 mb-3 font-weight-normal text-center">🏁 Sign up 🏁</h1>
        <%= devise_error_messages! %>
            <div class="form-group">
              <label class="form-control-label ">First  Name *</label>
                 <div class="input-group input-group-transparent">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <%= f.text_field :firstname, class: "form-control form-control-label", autofocus: true,  placeholder: "Jack" %>
                 </div>
              </div>
            <div class="form-group">
              <label class="form-control-label ">Last  Name *</label>
                 <div class="input-group input-group-transparent">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <%= f.text_field :lastname, class: "form-control form-control-label", autofocus: true,  placeholder: "Donaghy" %>
                 </div>
            </div>

            <div class="form-group">
              <label class="form-control-label">Phone number *</label>
                 <div class="input-group input-group-transparent">
                    <div class="input-group-prepend">
                       <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                      <%= f.telephone_field :number, class: "form-control form-control-label", autofocus: true, type: "tel", placeholder: "01 16 88 12 16 " %>
                 </div>
            </div>

            <div class="form-group">
              <label class="form-control-label ">Country *</label>
                 <div class="input-group input-group-transparent">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>

                        <%= f.collection_select :country_id, Country.all, :id, :name ,class: "form-control form-control-label"%>
                 </div>
              </div>

            <div class="form-group">
              <label class="form-control-label ">Company Title *</label>
                 <div class="input-group input-group-transparent">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <%= f.text_field :function, class: "form-control form-control-label", autofocus: true, placeholder: "CEO" %>
                 </div>
              </div>


            <span class="clearfix"></span>
             <div class="form-group">
               <label class="form-control-label">Email address *</label>
                   <div class="input-group input-group-transparent">
                      <div class="input-group-prepend">
                         <span class="input-group-text"><i class="fas fa-user"></i></span>
                      </div>
                     <%= f.email_field :email, class: "form-control form-control-label", autofocus: true, autocomplete: "email", placeholder: "jack.donaghy@gmail.com" %>
                   </div>
             </div>

            <div class="form-group mb-4">
              <label class="form-control-label">Password *</label>
                 <% if @minimum_password_length %>
                   <em>(8 characters minimum)</em>
                 <% end %><br />
                 <div class="input-group input-group-transparent">
                     <div class="input-group-prepend">
                         <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                      <%= f.password_field :password, class: "form-control", id: "input-password", autocomplete: "new-password", placeholder: "********"  %>
                  </div>
            </div>

            <div class="form-group">
               <label class="form-control-label">Confirm your password *</label>
                   <div class="input-group input-group-transparent">
                       <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-key"></i></span>
                      </div>
                      <%= f.password_field :password_confirmation, class: "form-control", id: "input-password-confirm", autocomplete: "new-password", placeholder: "********" %>
                   </div>
            </div>
                                
            <div class="mt-3">
              <div class="d-flex justify-content-center" id="button_create_account">
                <%= f.submit "Sign Up", class: "btn btn-lg btn-primary btn-block mb-3 mb-sm-0" %>
              </div>
              <br>
              <div class="d-flex justify-content-between align-items-center">
                    <div class=" text-sm-left">
                      <span class="small d-sm-block d-md-inline">Déjà inscrit ?</span><br>
                        <%= render "devise/shared/links" %>
                        <br><br><br>
                    </div>
              </div>
            </div>
      <% end %>
      
    </div>
  </div>
</div>